<secure-header></secure-header>
<div class="inner-page">

  <!-- <header class="head">
    <div>
      <img src="assets/img/logo.png" alt="">
    </div>

  </header> -->



  <div class="container example-sidenav-content">
    <div class="go-box cont-box">
      <div *ngIf="groupDetail" style="color:white">
        <a href="" style="color:white">Home</a> »
        <span style="color:white">{{groupDetail.name}}</span>
      </div>
      <br/>
      <button mat-button (click)="createExperience()">Create Experiences</button>
      <button mat-button (click)="InviteMembers()">Group Members</button>

      <div>
        <h3 class="go-header">Experiences</h3>

        <mat-list>
          <mat-card *ngFor="let e of Experience" class="pointer">
            <div (click)="navigate(e)" style="width:90%">
              {{e?.name}}
            </div>
            <mat-card-subtitle>{{e?.count}}</mat-card-subtitle>


            <div class="icons-box">
              <i class="material-icons" (click)="editExperience(e)"> edit </i>
              <i class="material-icons" (click)="deleteExperience(e)"> delete_forever </i>
            </div>


          </mat-card>

        </mat-list>
      </div>

    </div>
  </div>


</div>