<header class="header">
    <div class="container">
        <div class="head">
            <div class="logo" [routerLink]="['/']"><img src="assets/img/logo.png" [routerLink]="['/']"></div>
            <div class="header-links">
                <ul>
                    <li>
                        <a class="header-link">Terms</a>
                    </li>
                    <li>
                        <a class="header-link">Privacy & Policy</a>
                    </li>
                    <li>
                        <a class="header-link">Help</a>
                    </li>
                    <li>
                        <a class="header-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>