<!-- For Login page -->
<div class="inner-page">

    <div class="section login">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <div class="elogo">
                        <img src="assets/img/logo.png" alt="">

                    </div>
                    <div class="box">

                        <h3>Forgot your Password?</h3>
                        <mat-progress-bar *ngIf='isSubmitted' color="warn" mode="indeterminate"></mat-progress-bar>

                        <form [formGroup]="form" (ngSubmit)="recoverPassword()" autocomplete="on">
                            <div class="form-field">
                                <mat-form-field class="full-width">
                                    <input formControlName="email" matInput #input placeholder="Email" [(ngModel)]="user.email"
                                        required>
                                </mat-form-field>
                            </div>
                            <div>
                                <button type="submit" class="go-btn" [disabled]="isSubmitted">Recover Password</button>
                            </div>

                            <div class="login-bottom-txt">
                                <a [routerLink]="['/login']">Login</a>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>