<!-- For Reset Password page -->
<div class="inner-page">

    <div class="section">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <div class="elogo">
                        <img src="assets/img/logo.png" alt="">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="box reset" *ngIf="!successMsg">
                        <mat-progress-bar *ngIf='isSubmitted' color="warn" mode="indeterminate"></mat-progress-bar>
                        <h3>Reset Password</h3>
                        <form [formGroup]="form">

                            <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
                            <!--Password -->
                            <div class="form-field">
                                <mat-form-field class="full-width">

                                    <input matInput type="password" formControlName="password" placeholder="Password"
                                        name="password" [(ngModel)]="user.password" [type]="phide ? 'password' : 'text'"
                                        (focusout)="onPasswordFocusOut()" matTooltip='Password should be min 8 digit , max 20 digit and combination of alphanumberic and specified special characters (!@#$%^&*_+) with 1 uppercase letter, 1 lowercase letter and  1 numeric character'
                                        required>
                                    <mat-icon matSuffix (click)="phide = !phide">{{phide ? 'visibility' :
                                        'visibility_off'}}</mat-icon>

                                    <mat-error *ngIf="form.controls['password'].errors?.pattern || form.controls['password'].errors?.maxLength">
                                        Please enter a valid password
                                    </mat-error>
                                    <mat-error *ngIf="form.controls['password'].errors?.required">
                                        Password is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!--Confirm Password -->
                            <div class="form-field">
                                <mat-form-field class="full-width">
                                    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                                        name="confirmPassword" [(ngModel)]="user.confirmPassword" [type]="cphide ? 'password' : 'text'"
                                        (focusout)="onConfirmPasswordFocusOut()" required>
                                    <mat-icon matSuffix (click)="cphide = !cphide">{{cphide ? 'visibility' :
                                        'visibility_off'}}</mat-icon>

                                    <!-- <mat-error *ngIf="(password.errors && !password.errors.validateEqual) || ( confirmPassword.errors && !confirmPassword.errors.validateEqual)"> -->
                                    <mat-error *ngIf="form.controls['confirmPassword'].errors?.required">
                                        Confirm Password is
                                        <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="form.controls['confirmPassword'].errors?.matchPassword">
                                        Confirm Password does not
                                        <strong>match</strong>
                                    </mat-error>

                                </mat-form-field>

                                <mat-error *ngIf="errMsg">
                                    <h4> {{ errMsg }}</h4>
                                </mat-error>
                            </div>
                            <div class="text-right">
                                <button class="round-btn login" [disabled]="!form.valid || errMsg || isSubmitted"
                                class="go-btn"  (click)="onClickReset()">Reset Password</button>
                            </div>
                        </form>
                    </div>
                    <div class="auth-box" *ngIf="successMsg">
                        <p>{{ successMsg }}</p>
                    </div>
                    <div class="bottom-txt" *ngIf="emailSuccess==false">Try again?
                        <a routerLink="{{gotoUrl}}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>