<div>
        <div style="float:right;cursor: pointer;" (click)="onNoClick()">X</div>
        <form name="form" #a="ngForm" (keydown.enter)="$event.preventDefault()" novalidate>
            <div class="row align-item-center">
                <div class="col-md-12">
                    <h1 mat-dialog-title *ngIf="!editSegment">Create Segment </h1>
                    <h1 mat-dialog-title *ngIf="editSegment">Edit Segment </h1>
                </div>
                <div class="col-lg-12">
                    <p>What piece of Segment are you shadowing?</p>
                    <mat-form-field style="width:100%">
                        <input matInput placeholder="{{todayDate}}" name="segmentName" [(ngModel)]="segment.name" required />
                    </mat-form-field>
                </div>
            </div>
    
            <div mat-dialog-actions class="row align-item-center dialog-btn-contianer">
                <div class="col-lg-12 col-md-12 col-sm-12 textright" style="text-align:right">
                    <button mat-raised-button tabindex="-1" (click)="onNoClick()">CANCEL</button>
                    <button mat-raised-button [disabled]="!a.form.valid" color="primary" (click)="createSegment()"
                        tabindex="2">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>