<secure-header></secure-header>

<div class="inner-page">
  <div class="container example-sidenav-content">
    <div class="go-box cont-box">
    <div *ngIf="breadCrums && breadCrums.length == 3 " style="color:white">
      <a (click)="breadCrumslink('', 'home')" style="color:white;cursor:pointer">Home</a> »
      <a (click)="breadCrumslink(breadCrums[0].id, 'group')" style="color:white;cursor:pointer">{{breadCrums[0].name}}</a> »
      <a (click)="breadCrumslink(breadCrums[1].id, 'experince')" style="color:white;cursor:pointer">{{breadCrums[1].name}}</a> »
      <span style="color:white">{{breadCrums[2].name}}</span>
    </div>
    <div *ngIf="breadCrums && breadCrums.length == 2 " style="color:white">
      <a (click)="breadCrumslink('', 'home')" style="color:white;cursor:pointer">Home</a> »
      <a (click)="breadCrumslink(breadCrums[0].id, 'experince')" style="color:white;cursor:pointer">{{breadCrums[0].name}}</a> »
      <span style="color:white">{{breadCrums[1].name}}</span>
    </div>
    <br/>
    <div class="segment-block" *ngIf="SegmentName"> {{SegmentName}} </div>


    <button mat-button (click)="createNote()"> + Create Note</button>
    <button mat-button (click)="createRefrence()">Add Timer</button>




    <div class="row md-padding-left-20 md-padding-right-20" *ngFor="let ns of NoteSegment">
      <div class="col-12">

        <div class="notes-content-box">
          <a>


            <div class="row" *ngIf="ns.type == 'Location'">
              <div class="col-6 col-sm-8 waiting-box-border xs-padding-right-0">

                <div class="inline-block left location-image-box">
                  <img src="assets/img/location.png" alt="" class="notes-image">
                </div>
                <div class="row" style="padding:10px">
                  <div class="inline-block waiting-text-box col-md-10" style="float:left" (click)="navigateTimer(ns)">
                    <p class="m-a-0" style="cursor:pointer">{{ns.text}}</p>
                  </div>


                  <div class="inline-block waiting-text-box col-md-1">
                    <i class="material-icons" (click)="deleteNote(ns)"> delete_forever </i>
                  </div>

                </div>

              </div>
              <div class="col-6 col-sm-4 xs-padding-left-0">
                <div class="inline-block left play-image-box">
                  <img src="assets/img/stop.png" alt="" class="notes-image" (click)="pauseTimer(ns)" *ngIf="ns.check == true">
                  <img src="assets/img/play.png" alt="" class="notes-image" (click)="startTimer(ns)" *ngIf="ns.check  == false">

                </div>
                <div class="inline-block time-box">
                  <p class="m-a-0 time-text" style="cursor:pointer">{{ns.h1 || '00:00:00'}}</p>
                  <!--<p class="m-a-0 long-time-text">{{ns.endtime}}</p>-->
                </div>
              </div>
              <div>
                <img src="assets/img/top-style.png" class="top-style-image">
              </div>
            </div>

            <div *ngIf="ns.length>0" style="background-color:white">
              <div class="inline-block left segment-notes-image-box notes-image-box">
                <img src="assets/img/notepad.png" alt="" class="notes-image">
              </div>
              <div class="row" style="padding:0.8%">
                <div class="inline-block segment-notes-text-box col-md-10" (click)="navigate(ns)">
                  <p class="m-a-0" *ngIf="ns.length > 1" style="padding:0.4%">Notes ({{ns.length}})</p>
                  <p class="m-a-0" *ngIf="ns.length == 1" style="cursor:pointer">{{ns[0].text}}</p>
                </div>
                <div class="col-md-1" style="padding-left:8%">
                  <i class="material-icons" (click)="deleteNote(ns)">
                    <span *ngIf="ns.length == 1">delete_forever</span>
                  </i>
                </div>
              </div>
              <div *ngIf="ns.length > 1">
                <div *ngIf="ns.isShow">
                  <div *ngFor="let n of ns" class="row" style="clear:both">

                    <div class="inline-block left segment-notes-image-box" style="width:5%">
                      <img src="" alt="" class="notes-image">
                    </div>
                    <div class="inline-block segment-notes-text-box col-md-10" style="float:left;">
                      <p class="m-a-0" (click)="navigate(n)" style="cursor:pointer">{{n.text}}</p>

                    </div>
                    <div class="col-md-1">
                      <i class="material-icons" (click)="deleteNote(n)"> delete_forever </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row" *ngIf="ns.type == 'Person'">
              <div class="col-6 col-sm-8 waiting-box-border xs-padding-right-0">
                <div class="inline-block left patient-image-box">
                  <img src="assets/img/user.png" alt="" class="notes-image">
                </div>
                <div class="row" style="padding:10px">
                  <div class="inline-block segment-notes-text-box col-md-10" (click)="navigateTimer(ns)">
                    <p class="m-a-0" style="cursor:pointer">{{ns.text}}s</p>
                  </div>


                  <div class="inline-block waiting-text-box col-md-1">
                    <i class="material-icons" (click)="deleteNote(ns)"> delete_forever </i>
                  </div>

                </div>
              </div>
              <div class="col-6 col-sm-4 xs-padding-left-0">
                <div class="inline-block left play-image-box">
                  <img src="assets/img/stop.png" alt="" class="notes-image" (click)="pauseTimer(ns)" *ngIf="ns.check == true">
                  <img src="assets/img/play.png" alt="" class="notes-image" (click)="startTimer(ns)" *ngIf="ns.check  == false">

                </div>
                <div class="inline-block time-box col-md-8" style="padding:10px">
                  <p class="m-a-0 time-text">{{ns.h1 || '00:00:00'}}</p>
                  <!--<p class="m-a-0 long-time-text">{{ns.endtime}}</p>-->
                </div>
                <!-- <div class="inline-block right m-t xs-margin-top-12">
                    <p class="m-a-0"><i class="fa fa-chevron-right font-30"></i></p>
                  </div> -->

              </div>
            </div>


            <div class="row" *ngIf="ns.type == 'Task'">

              <div class="col-6 col-sm-8 waiting-box-border xs-padding-right-0">
                <div class="inline-block left check-patient-image-box">
                  <img src="assets/img/check-patient.png" alt="" class="notes-image">
                </div>
                <div class="row" style="padding:10px">
                  <div class="inline-block waiting-text-box col-md-10" style="float:left" (click)="navigateTimer(ns)">
                    <p class="m-a-0" style="cursor:pointer">{{ns.text}}</p>
                  </div>


                  <div class="inline-block waiting-text-box col-md-1">
                    <i class="material-icons" (click)="deleteNote(ns)"> delete_forever </i>
                  </div>

                </div>

              </div>
              <div class="col-6 col-sm-4 xs-padding-left-0">
                <div class="inline-block left play-image-box">
                  <img src="assets/img/stop.png" alt="" class="notes-image" (click)="pauseTimer(ns)" *ngIf="ns.check == true">
                  <img src="assets/img/play.png" alt="" class="notes-image" (click)="startTimer(ns)" *ngIf="ns.check  == false">
                </div>
                <div class="inline-block time-box">
                  <p class="m-a-0 time-text">{{ns.h1 || '00:00:00'}}</p>
                  <!-- <p class="m-a-0 long-time-text">{{ns.endtime}}</p> -->
                </div>
                <!-- <div class="inline-block right m-t xs-margin-top-12">
                    <p class="m-a-0"><i class="fa fa-chevron-right font-30"></i></p>
                  </div> -->
              </div>
              <div>
                <img src="assets/img/top-style.png" class="top-style-image">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>